.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: thin;
  border-radius: 100px;
  background-color: black;
  height: 100%;
  /* width: 100%; */
  position: relative;
}
.border {
  border: "solid";
}
.fullHeightCard {
  height: "100%";
}
.media {
  height: 0;
  padding-top: 76.25%;
  background-blend-mode: darken;
}
.overlay1 {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
}
.title {
  padding: 0 16px;
}
.overlay2 {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
}
.actions {
  padding: 0 16px 8px 16px;
  display: flex;
  justify-content: space-between;
}
.cardAction {
  display: block;
  text-align: initial;
}
.tag {
  color: rgb(159, 159, 235);
}
